html {
    background-color: #a80000;
    font-size: 12px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
    font-family: "Open Sans", sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
    text-align: center;
  }

  body {
    width: 600px;
    margin: 0 auto;
    background-color: #ffecc0;
    padding: 0 20px 20px 20px;
    border: 10px solid rgb(255, 255, 255);
  }
  
  h1 {
    font-variant: small-caps;
    font-size: 50px;
    margin: 0;
    padding: 20px 0;
    color: #000000;
    text-shadow: 2px 2px 5px rgb(128, 128, 128);
  }

  h2 {
    font-size: 30px;
    margin: 0;
    padding: 20px 0;
    color: #000000;
    text-shadow: 2px 2px 5px rgb(128, 128, 128);
  }
  
p,
li {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
  }



