html {
    background-color: #ff7b7b;
    font-size: 12px; /* px quiere decir 'píxeles': el tamaño de la fuente base es ahora de 10 píxeles de altura */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Este debe ser el resto del resultado que obtuviste de Google fonts */
    text-align: center;
  }

  body {
    width: 0px auto;
    margin: 0px auto;
    background-color: #ff7b7b;
    padding: 0 0px 0px 0px;

  }
  
  h1 {
    
  }

  h2 {
    font-size: 30px;
    margin: 0;
    padding: 20px 0;
    color: #000000;
    text-shadow: 2px 2px 5px rgb(128, 128, 128);
  }
  
p,
li {
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
  }

  .imagen{
    border-radius:10px;
    box-shadow: 0px 0px 4px 4px #00000081;
  }

  .banner{
    size-adjust: 100%;
  }




